@import "tailwindcss";

@theme {
  /* Colores principales */
  --color-font1: #ffffff;  /* fondos claros */
  --color-font2: #18A2E6;  /* azul primario (botones/títulos) */
  --color-font3: #5a8c4a;  /* verde más oscuro (mejor contraste) */
  --color-font4: #DBEFFF;  /* azul blanco*/

  /* Hover/Interacción */
  --color-hover1: #53eafd; /* cyan-300 */
  --color-hover2: #1e4a8a; /* azul oscuro para hover de botones */

  /* Textos */
  --color-text1: #080A0C;    /* textos principales */
  --color-text2: #364153;    /* textos secundarios */
  --color-text3: #2D3748;    /* textos en header (gray-800) */
  --color-text4: #3D3D3D;    
  --color-text-light: #FFFFFF; /* textos claros sobre fondos oscuros */

  /* Fuentes */
  --font-display: "Lexend Deca", sans-serif; /* títulos */
  --font-body: "Open Sans", system-ui, sans-serif; /* texto normal */
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 7.5rem; /* Ajusta el valor según el tamaño de tu encabezado */
}
