---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Opiniones from '../components/Opiniones.astro';
import Servicios from '../components/Servicios.astro';
import Ofertas from '../components/Ofertas.astro';
import Contacto from '../components/Contacto.astro';
import Nosotros from '../components/Nosotros.astro';
import Footer from '../components/Footer.astro';
import Galeria from '../components/Galeria.astro';
// Importa otros componentes...
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Servicios />
    <Ofertas />
    <Nosotros />
    <Galeria />
    <Opiniones />
    <Contacto />
  </main>
  <Footer />
</Layout>
