---
import "../styles/global.css";

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Clínica Odontológica Norte</title>
  </head>
  <body>
    <slot />
    <!-- Aquí se inyectarán los componentes -->
    <script type="module" src="/swiper-init.js"></script>

  </body>
</html>
